.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: auto;
    position: fixed;
    transform: translateY(0);
    z-index: 10;
    transition: 0.3s linear;
    // backdrop-filter: blur(10px);
    // background-color: rgba(20, 4, 87, 0.3);
}
  .hidden {
    position: fixed;
    transform: translateY(-100%); 
    transition: 0.3s linear;
  }
.logo {
    padding: 1rem 8rem 0 8rem;

}
.logo img {
    width: 8rem;
    height: auto;
}