@import "../../variables";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem 2.5rem 2rem;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 6rem;
}
.nav a {
    text-decoration: none;
    color: $green;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
    font-family: $baloo;
}
.nav a:hover {
    color: $text-light;
}
.nav li:hover {
    transform: scale(1.05);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
