@import "../../variables";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem 2.5rem 2rem;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 6rem;
}

.nav a {
    text-decoration: none;
    color: $green;
}
.nav li {
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
    font-family: $baloo;
    
}