@import "../variables";

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 1.5rem;
    background-color: $green;
}

// comment because I'm lazy and don't code enough
